body {
    background-color: #fff2f8;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    align-content: center;
    padding-bottom: 10%;

}

h1 {
    font-family: 'Spicy Rice';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-size: 400%;
    color: #ff6340
}

h2 {
    font-family: 'Spicy Rice';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-size: 300%;
    color: #2848c0;
}

p {
    color: #2848c0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#totalPotLabel, #playersLabel {
    color: #2848c0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding-left: 2em;
}

.opt-value {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#totalPotInput, #players {
    box-sizing: border-box;
    border-color: #f515b8;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #2848c0;
    border-style: solid;
    border-collapse: collapse;
    outline: none;
}

#totalPotInput:focus, #players:focus {
    border-color: #2848c0;
    border-style: solid;
}

.td-right {
    border: solid 3px #f515b8;
    color: #f515b8;
    background-color: white;
    overflow: hidden;
}

.td-left {
    border: solid 3px #f515b8;
    background-color: #f515b8;
    color: white;

}

table {
    border-collapse: separate;
    border-spacing: 1rem;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100%;
}

#flip_V {
    transform: scale(1, -1);
    font-size: 200%;
}

#btn-back-to-home {
    background-color: #2848c0;
    border: solid 3px #f515b8;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#btn-back-to-home:hover {
    background-color: #ff6340;
    border: solid 3px #2848c0;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}